:root {
    --white        : #fff;
    --black        : #000;
    --primary_color: #0C5A64;
    --gap          : 1.6rem;
    --padding      : 1.6rem;
}

/* Ajusto la sección de presentación */

.presentation__title {
    width: 50%;
    font-size       : 3vw;
    line-height     : 4vw;
}

.mainContent {
    grid-template-columns   : repeat(3, 1fr);
    grid-auto-rows          : 30rem;
}

.card {
    font-size      : 1.3vw;
}

.description {
    padding: 1rem;
}

.description__left > h3 {
    height          : 30%;
    font-size       : 1.5vw;
}

.card__details {
    font-size: 1vw;
}

.card__details > p {
    padding: 0 1rem .5rem 1rem;
}

footer {
    font-size       : 2rem;
}

.redesSociales > ul > li {
    font-size       : 3rem;
    margin-left     : 2rem;
}